---
import Layout from '../../layouts/Layout.astro';

import SlackMessage from '../../components/SlackMessage.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils.js';
import { getEntry } from 'astro:content';
import clsx from 'clsx';
import type { Icon } from '../../components/RemixIcon.astro';
import RemixIcon from '../../components/RemixIcon.astro';

export async function getStaticPaths() {
  return [
    {
      params: {
        lang: 'de',
      },
      props: {
        content: await getEntry('home', 'de'),
      },
    },
    {
      params: { lang: 'en' },
      props: {
        content: await getEntry('home', 'en'),
      },
    },
  ];
}

const content = Astro.props.content;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

{/* eslint-disable @typescript-eslint/ban-ts-comment */}
<Layout
  title={content.data.title}
  i18nAlternates={[
    { lang: 'de', href: '/de/' },
    { lang: 'en', href: '/en/' },
  ]}
>
  <a
    slot="nav-right"
    href={`/${lang}/waitlist`}
    class="bg-sand-3 text-sand-12 px-2 py-1 text-sm leading-5 rounded-md hover:bg-sand-4 active:bg-sand-5 ring-1 ring-sand-12/10 shadow-sm transition"
  >
    {t('joinWaitlist')}
  </a>
  <picture class="w-screen overflow-hidden absolute top-[-151px] z-[0] pointer-events-none h-[912px]">
    <source srcset="/rainbow-png@xs-min.png" type="image/png" media="(max-width: 420px)" />
    <source srcset="/rainbow-png@sm-min.png" type="image/png" media="(min-width: 421px) and (max-width: 720px)" />
    <source srcset="/rainbow-bg@2x-min.png" type="image/png" media="(min-width: 721px) and (min-resolution: 120dpi)" />
    <source srcset="/rainbow-bg@1x-min.png" type="image/png" media="(min-width: 721px) and (max-resolution: 119dpi)" />
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
      alt="background"
      class="absolute left-1/2 -translate-x-1/2 w-[1440px] h-[912px] object-cover pointer-events-none"
    />
  </picture>
  <main class="text-sand-12 relative z-[2]">
    <div class="container-small mt-16">
      <h2 class="text-[1.75rem] leading-[2.375rem] tracking-[0.2px] font-bold">
        <Fragment set:html={content.data.headline1} /><br />
        <Fragment set:html={content.data.headline2} />
      </h2>
    </div>
    <div class="flex justify-center max-w-full overflow-x-hidden -my-10 md:-my-8 lg:-my-5 xl:my-0 md:py-10">
      <div class="flex flex-col md:flex-row items-start scale-75 md:scale-[0.66] lg:scale-[0.85] xl:scale-100">
        {
          content.data.slackMessages.map((messages, index) => (
            <div
              class:list={{
                'z-[4] -mr-[15px]': index === 0,
                'z-[3]': index === 1,
                'z-[2]': index === 2,
                'z-[1]': index === 3,
              }}
            >
              {messages.map(({ message, index, ...data }) => {
                const className = clsx({
                  'rotate-[5deg] ml-16 md:ml-0': index === 0,
                  '-rotate-2 -mt-4 -ml-10 md:ml-0 md:mt-[20px]': index === 1,
                  'rotate-[1deg] md:rotate-[-4deg] ml-24 -mt-6 md:mt-[-3px] md:ml-[15px]': index === 2,
                  'rotate-3 mt-0 ml-10 md:mt-[7px] md:ml-[-40px]': index === 3,
                  '-rotate-2 mt-[-5px] ml-[-10px]': index === 4,
                  'rotate-1 mt-[3px] ml-20 md:ml-[-25px]': index === 5,
                });

                return (
                  <>
                    {/* @ts-ignore */}
                    <SlackMessage {...data} class={className}>
                      <Fragment set:html={message} />
                    </SlackMessage>
                  </>
                );
              })}
            </div>
          ))
        }
      </div>
    </div>
    <div class="container-small space-y-3">
      {
        content.data.paragraphs.map((p) => (
          <p class="text-lg font-medium">
            <Fragment set:html={p} />
          </p>
        ))
      }
    </div>
    <div class="py-10 max-w-40 mx-auto">
      <hr class="border-2 rounded-full border-sand-4/50 dark:border-sand-6/50" />
    </div>
    <div class="container-small mb-10">
      <h3 class="text-[1.75rem] leading-[2.375rem] tracking-[0.2px] font-bold mb-5">{content.data.featureHeadline}</h3>
      <p class="text-lg font-medium">
        <Fragment set:html={content.data.featureParagraph} />
      </p>
    </div>
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-5 mb-10">
      {
        content.data.featureGrid.map((f) => (
          <div class="bg-sand-3/75 p-5 rounded-xl ring-1 ring-sand-12/[0.12] shadow-sm">
            <div class="flex items-center gap-3 mb-4">
              <RemixIcon name={f.icon as Icon} className="w-5 h-5" />
              <div class="text-lg leading-5 font-bold">{f.headline}</div>
            </div>
            <p class="text-base leading-5">{f.paragraph}</p>
          </div>
        ))
      }
    </div>
    <div class="container-small mb-16">
      <p class="text-lg font-medium mb-6">
        <Fragment set:html={content.data.joinWaitlist.copy} />
      </p>
      <a
        href={`/${lang}/waitlist`}
        class="bg-orange-9 text-white px-4 py-2 text-base rounded-lg hover:bg-orange-10 active:bg-orange-10/90 ring-1 ring-sand-12/10 shadow-sm transition"
      >
        {content.data.joinWaitlist.cta}
      </a>
    </div>
  </main>
</Layout>
