---
import { getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  return [
    {
      params: {
        lang: 'de',
      },
      props: {
        content: await getEntry('privacy', 'de'),
      },
    },
    {
      params: { lang: 'en' },
      props: {
        content: await getEntry('privacy', 'en'),
      },
    },
  ];
}

const { content } = Astro.props;
---

<Layout
  title={content.data.title}
  i18nAlternates={[
    { href: '/en/imprint', lang: 'en' },
    { href: '/de/imprint', lang: 'de' },
  ]}
>
  <div class="container-small w-full py-16 prose">
    <h2>{content.data.title}</h2>
    <p>
      <Fragment set:html={content.data.content} />
    </p>
  </div>
</Layout>

<script>
  const mailtoAHref = document.getElementById('contact.email') as HTMLAnchorElement | null;
  if (mailtoAHref) {
    const emailPart1 = 'phil';
    const emailPart2 = 'schaffarzyk';
    const emailDomain1 = 'gmail';
    const emailDomain2 = 'com';
    mailtoAHref.addEventListener('mouseover', () => {
      setTimeout(() => {
        mailtoAHref.href = `mailto:${emailPart1}`;
        mailtoAHref.href += `.${emailPart2}@`;
        mailtoAHref.href += `${emailDomain1}`;
        mailtoAHref.href += `.${emailDomain2}`;
      }, 200);
    });
    mailtoAHref.addEventListener('mouseout', () => {
      mailtoAHref.href = 'mailto:hashy';
    });
  }
</script>
