---
import '../index.css';
import '@radix-ui/colors/orange.css';
import '@radix-ui/colors/sand.css';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { languages } from '../i18n/ui';
import RemixIcon from '../components/RemixIcon.astro';

interface Props {
  title: string;
  i18nAlternates?: {
    lang: 'de' | 'en';
    href: string;
  }[];
  description?: string;
}

const { title, i18nAlternates, description } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const year = new Date().getFullYear();

const langs = Object.keys(languages);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || t('head.description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/supertray-favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Supertray - {title}</title>
    {
      i18nAlternates?.map((alternate) => (
        <link rel="alternate" hreflang={alternate.lang} href={`https://supertray.app${alternate.href}`} />
      ))
    }
    <slot name="head" />
  </head>
  <body class="min-h-screen w-full bg-sand-1 dark:bg-sand-2 flex flex-col">
    <header id="nav" class="sticky z-20 top-0">
      <div class="max-w-[1440px] w-full mx-auto flex justify-between px-6 py-4 align-center transition">
        <a href={`/${lang}/`}><h1 class="text-xl font-bold text-sand-12">Supertray</h1></a>
        <div class="flex items-center gap-5">
          <div class="flex items-center gap-0.5">
            {
              langs.map((l) => (
                <a
                  href={`/${Astro.url.pathname.replace(/^\/(de|en)/, l)}`}
                  class="text-sand-12 uppercase rounded-sm text-center px-1.5 py-0.5 -my-0.5 transition"
                  class:list={{
                    'font-medium pointer-events-none bg-transparent': lang === l,
                    'text-opacity-50 hover:text-opacity-100 hover:bg-sand-4': lang !== l,
                  }}
                >
                  {l}
                </a>
              ))
            }
          </div>
          <slot name="nav-right" />
        </div>
      </div>
    </header>
    <slot />
    <div class="flex-grow" aria-hidden="true"></div>
    <footer class="block text-sm">
      <div
        class="flex flex-col-reverse items-center sm:flex-row gap-4 justify-between max-w-[1440px] w-full mx-auto p-6"
      >
        <div>© {year}</div>
        <div class="flex items-center gap-4">
          <a href="https://x.com/supertrayapp" title="X (Twitter)">
            <RemixIcon name="twitter-x" className="w-5 h-5" />
          </a>
          <a href="https://github.com/supertray" title="Github">
            <RemixIcon name="github" className="w-5 h-5" />
          </a>
          <a href={`/${lang}/legal`}>
            {t('footer.legal')}
          </a>
          <a href={`/${lang}/privacy`}>
            {t('footer.privacy')}
          </a>
        </div>
      </div>
    </footer>
    <script
      is:inline
      defer
      data-api="https://analytics.gridventures.de/api/event"
      data-domain="supertray.app"
      src="/script.min.js"></script>
  </body>
</html>

<script>
  const checkScroll = () => {
    const header = document.querySelector('#nav');
    if (!header) return;
    if (window.scrollY > 1) {
      header.classList.add('shadow-sm', 'backdrop-blur-md', 'bg-sand-1/80');
    } else {
      header.classList.remove('shadow-sm', 'backdrop-blur-md', 'bg-sand-1/80');
    }
  };

  window.addEventListener('scroll', () => {
    checkScroll();
  });

  checkScroll();
</script>
